/*Global Adjustments*/

		 html,
			  body {
				height: 100%;
				background: url(../images/whirlpool.png);
				font-family: "Arial", Hevletica Neue, Helvetica, sans-serif;
			  }

				h1, h2, h3 {
					font-family:"Georgia", Times, Times New Roman, serif;
					color:#4aaaac;
				}
				
/*Navbar*/


			.navbar {
				background-color: #fff;
				border-bottom: 2px solid #ccc
			}
			li {
				margin-top: 10px;
			}
			
			div.navbar-header {
						text-align: center;
						text-decoration: none;
						background-color: #4aaaa5;
						max-height:90px;
						min-height:80px;
						width:100%;
						min-width:250px;
					}
				.navbar-header h2 {
						color:#fff;
					}


/*Main Container 	*/
		
		.MainContent{
		background-color:#fff;
		font-size:16px;
		}
		
		.img {
			font-size:18px;
			margin-right:10px;
		}
		
		.MainContent h2, hr {
		margin-left: 2%;
		
		}
		
		.aside {
			background-color: #fff;
			text-align: center;
		}
		.aside img {
			margin-bottom: 4%;
		}
		
		

		.panel  { 
    		margin-top: 0px;
			}
			
	.panel-default>.panel-heading {
     background-color: #fff;
	 margin-left:10px;
	}
	.navbar-right{
	padding-right:70px;
	}
	
	.glyphicon {
	height:"";
	width:6vh;
	display: inline-block;
	}
	
	/* FOOTER*/
		  #wrap {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			/* Negative indent footer by it's height */
			margin: 0 auto -80px;
		  }


		  #push,
		  #footer {
			height: 80px;
		  }
		  #footer {
			background-color: #666;
			text-align: center;
			color:#fff;
			border-top:10px solid #4aaaa5;
		  }
		  #footer p{
		  margin-top: 4%;

		  }
		  .pull-left, .col-xs-12, .col-sm-4, .col-sm-3, .col-md-3 {
		  padding-left: 0px;
		  padding-right: 0px;
		  }
		  .navbar-header{
		  margin-left:0px;
		  }
		  
		  
	
@media screen and (max-width: 640px) {
	  
	.panel  { 
    		margin-top: 10px;
			}
			
			  .glyphicon {
				height:"";
				width:6vh;
				display: inline-block;
				}
   
.navbar-right{
	padding-left:48%;
	padding-top:5%;
	align-content:center;
	}
	}
/*Form 	*/

.btn-default {
    color: #fff;
	font-size:18px;
    background-color: #4aaaac;
    border-color: #ccc;
}

label {
font-family:"Georgia", Times, Times New Roman, serif;
color:#777;
}
.work {
  position: relative;
  float: left;
  width:40%;
  margin: 5px 25px;
  overflow: auto;
}
.work:nth-child(even) {
  margin-right: 40px;
}
.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}
.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}
       

@media screen and (max-width: 992px) and (min-width:769px) {
      
	  
	  .navbar-right{

	align-content:center;
	}
	  
	  .glyphicon {
	height:"";
	width:6vh;
	display: inline-block;
	}
        
	.navbar-right{
	margin-top:-10px;
	margin-right:29.5%;
	}
	
	
.work {
  position: relative;
  float: left;
  width:30%;
  margin: 1px 5px;
  overflow: auto;
  }

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}
      }	  
@media screen and (max-width: 768px) and (min-width:539px) {
       
	   
	   .panel  { 
    		margin-top: 10px;
			}
		
		#footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
		  .glyphicon {
			height:"";
			width:6vh;
			display: inline-block;
			}
			
      
	  .panel  { 
    		margin-top: 0px;
			}
.navbar-right{
	padding-left:48%;
	padding-top:5%;
	align-content:center;
	}
	
	.work {
  position: relative;
  float: left;
  width:100%;
  margin: 1px 0 20px;
  overflow: auto;
  align-items: center;
  }


}